body {
    background-color: #1f1c1c;
    color: #fff;
  }
h3 {
    margin-top: 40px;
    letter-spacing: 4px;
}  
.nav-item{
      color: #fff !important;
      margin-top: 5px;
      margin-left: 20px;
      width: 100px;
      text-align: center;
      border-left: 1px solid orange;
      border-top: 1px solid orange;

      &:hover{
          background-color: orange;
          transition: .4s ease-in-out;
          transform: scale(1.1);
      }
  }
  