#display {
    width: 100%;
    background-color: #3f3e3e;
    border: 1px solid #fff;
    padding: 25px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 7px #fff, 0 0 7px #fff;
  }
  
  #slider {
    width: 100%;
  }
  
  #length {
    display: inline-block;
    width: 100px;
    background-color: black;
    border: 1px solid #fff;
    color: white;
    padding: 12px;
  }
  
  #passwordLength {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    background:#3f3e3e;
    box-shadow: 0 0 10px #3f3e3e, 0 0 5px #3f3e3e;
    border-radius: 25%;
  }

  button {
    background-color: black;
    border: 1px solid #fff;
    color: white;
    padding: 12px;

    &:hover {
      background-color: orange;
      transition: .2s ease-in-out;
    }
}